.idea
node_modules
.DS_Store
.turbo
playground
.env
.env.production
config.dev.json5
config.prod.json5
exchanges.dev.json5
exchanges.prod.json5
.vercel

# Prisma SQLite database files
dev.db
dev.db-journal
