ENVIRONMENT=development
MARKETPLACE_TWITTER_AUTH_BEARER_TOKEN=bearer_token

# Postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
